inc/local.inc
inc/vendor
inc/*.html
ansible/secrets.env
ansible/production.ini
ansible/venv
# these files contain passwords
scripts/recreate_status_changes.sh
scripts/mongo-full.sh
# mongo script log dir
scripts/log/

